<aside class="sidebar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="#" class="nav_logo">
        <i class="bx bx-layer nav_logo-icon"></i>
        <span class="nav_logo-name">SliderX</span>
      </a>
      <div class="nav_list">
        <%- include('NavLink', { navLinkURL: '/admin/dashboard', navLinkIcon: 'bx-grid-alt', navLinkText: 'Dashboard' }) %>
        <%- include('NavLink', { navLinkURL: '/admin/dashboard/upload', navLinkIcon: 'bx-send', navLinkText: 'Upload' }) %>
        <%- include('NavLink', { navLinkURL: '#', navLinkIcon: 'bx-user', navLinkText: 'Users' }) %>
        <%- include('NavLink', { navLinkURL: '#', navLinkIcon: 'bx-folder', navLinkText: 'Files' }) %>
        <%- include('NavLink', { navLinkURL: '#', navLinkIcon: 'bx-bar-chart-alt-2', navLinkText: 'Stats' }) %>
      </div>
    </div>
    <a href="#" class="nav_link">
      <i class="bx bx-log-out nav_icon"></i>
      <span class="nav_name">SignOut</span>
    </a>
  </nav>
</aside>
