<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %> <%- title %>
  </head>
  <body id="body-pd">
    <%- include('components/Navbar') %> <%- include('components/Sidebar') %>
    <main class="container">
      <h1 class="fw-normal mt-3">Images</h1>
      <div class="d-flex align-items-center table-responsive">
        <%- include('components/Table'), {results} %>
      </div>
    </main>

    <%- include('partials/bootstrapjs') %>
    <script src="/js/adminPage.js"></script>
    <script>
      // get form action and send delete
      const formUrl = document.forms.namedItem("delete-button").action;

      function handleDelete(event) {
        event.preventDefault();
        const xhr = new XMLHttpRequest();
        xhr.open("DELETE", formUrl);
        xhr.send();
      }
    </script>
  </body>
</html>
