<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %> 
    <link href="/css/main.css" rel="stylesheet" />
    <%- title %>
  </head>
  <body id="body-pd">
    <%- include('components/Header') %> <%- include('components/Navbar/Navbar') %>
    
    <main>
      <div class="loader-container">
        <div class="loader"></div>
      </div>
      <div class="container">
        <div class="dashboard">
          <h1 class="dashboard_title"><%= dashboard_title %></h1>
          <p class="dashboard_location">Dashboard > <%= dashboard_location %></p>
        </div>
        <%- include('components/'+component), {results} %>
      </div>
    </main>

    <%- include('vendors/scripts') %>
    <script>
      let table = new DataTable('.c_table')
    </script>
    <script src="/js/adminPage.js"></script>
  </body>
</html>
