<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %> 
    <link href="/css/main.css" rel="stylesheet" />
    <%- title %>
  </head>
  <body id="body-pd">
    <%- include('components/Header') %> <%- include('components/Navbar/Navbar') %>

    <main>
      <div class="container">
        <div class="dashboard">
          <h1 class="dashboard_title">Images</h1>
          <p class="dashboard_location">Dashboard>Images</p>
        </div>
        <%- include('components/Table/Table'), {results} %>
      </div>
    </main>

    <%- include('partials/bootstrapjs') %>
    <script src="/js/adminPage.js"></script>
    <script>
      // get form action and send delete
      const formUrl = document.forms.namedItem("delete-button").action;

      function handleDelete(event) {
        event.preventDefault();
        const xhr = new XMLHttpRequest();
        xhr.open("DELETE", formUrl);
        xhr.send();
      }
    </script>
  </body>
</html>
