<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('partials/head') %>
  <%- title %>
</head>
<body>
  <div class="container">
    <div class="row h-screen justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 rounded border p-5">
        <h1 class="mb-4 text-muted text-center">Edição</h1>
        <p class="mb-5"><span class="text-danger">*</span> Campos obrigatórios</p>
        <form action="/api/update/<%= id %>" method="post" enctype="multipart/form-data" id="updateForm">
          <div class="form-group mb-5">
            <label for="title">Titulo</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Enter title of the image" value="<%= results[0].title %>" />
          </div>
          <div class="form-group mb-5">
            <label for="tag">Tag</label>
            <input type="text" name="tag" id="tag" class="form-control" placeholder="Enter tag of the image" value="<%= results[0].tag %>"/>
          </div>
          <div class="form-group mb-5">
            <label for="description">Descrição</label>
            <textarea name="description" style="resize: none;" id="description" class="form-control" rows="5" placeholder="Description"><%= results[0].description %></textarea>
          </div>
          <div class="form-group mb-5">
            <label for="priority">Prioridade<span class="text-danger">*</span></label>
            <input type="number" title="Quanto maior o número, maior a prioridade" name="priority" id="priority"
              class="form-control" placeholder="1" value="<%= results[0].priority %>"/>
          </div>
          <div class="form-group mb-5">
            <label for="file">Selecionar arquivo</label>
            <small class="text-muted">jpg / jpeg / png / gif</small>
            <input type="file" name="file" class="form-control" id="file"/>
          </div>
          <hr class="bg-secondary border-2 border-top border-secondary">
          <div class="form-group mb-5">
            <label for="active">Ativar Imagem</label>
            <input name="active" id="active" class="form-check-input" type="checkbox" value="1" <% if (results[0].active == 1) { %> checked<% } %>/>
          </div>
          <div class="form-group mb-5">
            <label for="showInfo">Mostrar informações da imagem no carousel?<span class="text-danger">*</span></label>
            <input name="showInfo" id="showInfo" class="form-check-input" type="checkbox" value="1" <% if (results[0].show_info == 1) { %> checked<% } %>/>
          </div>
          <button class="btn btn-primary mb-5 w-full">Enviar</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    const url = document.getElementById("updateForm").action;
    // submit update form
    document
      .getElementById("updateForm")
      .addEventListener("submit", function (e) {
        e.preventDefault();
        var form = document.getElementById("updateForm");
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", url);
        xhr.send(formData);

        xhr.onload = function () {
          if (this.status == 200) {
            window.location.href = "/admin/dashboard";
          } else {
            // show all errors
            var errors = JSON.parse(this.responseText);
            console.log(errors)
            alert("Error: " + this.status);
          }
        };
      });
  </script>
  </body>
</html>
