<% results.forEach(function(result) { %>
  <tr>
    <th scope="row"><%= result.id %></th>
    <td><%= result.title %></td>
    <td><%= result.tag %></td>
    <td><%= result.active %></td>
    <td colspan="2" class="table_action">
      <a
        href="/api/image/<%= result.id %>"
        class="btn btn-success"
        role="button"
      >
        View
      </a>
      <a
        href="/api/image/<%= result.id %>/edit"
        class="btn btn-primary"
        role="button"
      >
        Edit
      </a>
      <form
        action="/api/delete/<%= result.id %>"
        name="delete-button"
        style="display: inline-block"
        onsubmit="handleDelete(event)"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </td>
  </tr>
<% }); %>