<tbody>
  <% results.forEach(function(result) { %>
    <tr>
      <td>
        <p class="text-heading">
          <%= result.priority %>
        </p>
      </td>
      <td
        style="
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
        "
      >
        <p class="text-heading d-inline" href="#">
          <% if (!result.title) { %>
            null
          <% } %>
          <%= result.title %>
        </p>
      </td>
      <td>
        <% const data = new Date(result.date).toLocaleString() %>
        <%= data %>
      </td>
      <td>
        <p class="text-heading" href="#">
          <% if (!result.tag) { %>
            null
          <% } %>
          <%= result.tag %>
        </p>
      </td>
      <td>
        <span class="badge badge-lg badge-dot">
          <% if (result.active == 1) { %>
            <i class="bg-success"></i>
            <span class="text-success">Ativo</span>
          <% } else { %>
            <i class="bg-danger"></i>
            <span class="text-danger">Desativada</span>
          <% } %>
        </span>
      </td>
      <td class="text-end">
        <a
          href="/admin/dashboard/<%= result.id %>/edit"
          class="btn d-inline-flex btn-sm btn-neutral border-base mx-1 text-primary"
        >
          <span class="pe-2">
            <i class="bi bi-pencil"></i>
          </span>
          <span>Editar</span>
        </a>
        <a href="/admin/image/<%= result.id %>" class="btn btn-sm btn-neutral text-primary">
          <span class="pe-2">
            <i class="bi bi-eye"></i>
          </span>
          <span>Visualizar</span>
        </a>
        <button
          type="button"
          class="btn btn-sm btn-square btn-neutral text-danger delete-button"
        >
          <i class="bi bi-trash" data-id="<%= result.id %>"></i>
        </button>
      </td>
    </tr>
  <% }); %>
</tbody>
